body {
	background-color: #4ABDAC;
}

.btn {
    padding: 3px 6px;
    font-size: 12px;
    margin-left: 5px;
}

.quest-block {
	background-color: #F7B733;
	padding: 15px;
	border-left: 10px solid #4ABDAC;
	border-right: 10px solid #4ABDAC;
}

.monster-block {
	background-color: #FC4A1A;
	padding: 15px;
	border-left: 10px solid #4ABDAC;
	border-right: 10px solid #4ABDAC;
}

.monster_arena{
    width: 100%;
    height: 100%;
    position: relative;
    /*outline: 1px dotted black;*/
    padding: 10px;
    text-align: center;
}

.big_monster_holder{
    max-width: 300px;
    min-width: 300px;
    max-height: 500px;
    min-height: 200px;
    position: relative;
    /*outline:1px dotted red;*/
    overflow: hidden;
    display: inline-block;
}

.big_monster_image{
    width: 100%;
    height: 100%;
    position:relative;
}

.small_monster_holder{
    max-width: 200px;
    min-width: 100px;
    max-height: 300px;
    min-height: 200px;
    position: relative;
    /*outline:1px dotted red;*/
    overflow: hidden;
    display: inline-block;
}

.small_monster_image{
    width: 100%;
    height: 100%;
    position:relative;
}

.badge {
	margin: 0px 10px;
}

.table {
	background-color: #ffffff;
}

.table-striped>tbody>tr:nth-of-type(odd).completed {
  text-decoration: line-through;
}

tr.completed {
  text-decoration: line-through;
}

.create-project label, .create-project input, .create-project button{
   margin: 5px 10px 0px 0px;
}

.create-quest label, .create-quest input{
   margin: 5px 0px 0px 0px;
}

.create-quest button{
   margin: 10px 0px 0px 0px;
}

.create-monster label, .create-monster input, .create-monster select{
   margin: 5px 0px 0px 0px;
}

.create-monster button{
   margin: 10px 0px 0px 0px;
}

.current-quests h4{
	display:inline;
}

.current-quests .badge{
	margin: 0px;
}

.current-quests .ongoing .label{
	margin: 5px 0px;
	font-size: 90%;
}
