.badge {
	margin: 0px 10px;
}

.create-project label, .create-project input, .create-project button{
   margin: 5px 10px 0px 0px;
}

.create-quest label, .create-quest input{
   margin: 5px 0px 0px 0px;
}

.create-quest button{
   margin: 10px 0px 0px 0px;
}

.create-monster label, .create-monster input, .create-monster select{
   margin: 5px 0px 0px 0px;
}

.create-monster button{
   margin: 10px 0px 0px 0px;
}